

/* Global styles */

body {
  background-color: rgb(236, 236, 236);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}
p, div {
    font-family: 'Open Sans';
}
#content {
  margin-left: 74px;
}

/* Top navbar */

.navbar-default {
  z-index: 0;
  background-color: white;
  border: none;
  border-radius: 0px;
  box-shadow: 2px 0px 8px rgb(219, 221, 227);
}
.navbar-default .container {
  margin-left: 0px;
}
.navbar-default .navbar-brand {
  color: black;
}
.navbar-brand,
.navbar-nav li a {
  line-height: 70px;
  height: 70px;
  padding-top: 0px;
  padding-left: 94px;
  font-size: 24px;
}

/* Sidebar navigation */
.sidebar {
  display: none;
  background-color: rgb(47, 50, 58); /* Basic dark background color */
  border: none;
  box-shadow: 0px -2px 4px rgb(32, 34, 40);

  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.nav-sidebar > li > a {
  border-top: 1px solid rgb(58, 60, 68);
  border-left: 1px solid rgb(58, 60, 68);
  border-right: 1px solid rgb(58, 60, 68); /* Border highlight */
  border-bottom: 1px solid rgb(32, 34, 40); /* Dark border */

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: rgb(47, 50, 58); /* Basic dark background color */
}
.nav-sidebar > .home-button > a {
  padding-top: 24px;
  padding-bottom: 21px;
  padding-left: 23px;
  padding-right: 17px;
  background-color: rgb(92, 157, 245); 
  border: none;
}
.nav-sidebar > .home-button a:hover {
  background-color: rgb(92, 157, 245); 
  border: none;
}
.nav-sidebar > .home-button a:focus {
  background-color: rgb(92, 157, 245); 
  border: none;
}
.nav-sidebar > li > a > .glyphicon {
  font-size: 20px;
}
.nav-sidebar > li > a > span {
  text-align: center;
  /* font-weight: bold; */
}
.nav-sidebar > li > a:hover {
  border-top: 1px solid rgb(37, 40, 46);
  border-left: 1px solid rgb(37, 40, 46);
  color: white;
  background-color: rgb(37, 40, 46);
}
.nav-sidebar > li > a:focus {
  border-top: 1px solid rgb(37, 40, 46);
  border-left: 1px solid rgb(37, 40, 46);
  color: white;
  background-color: rgb(37, 40, 46);
}

/* panels */

.container-fluid {
  margin-top: 90px;
  margin-left: 20px; 
  margin-right: 20px; 
}
.panel-default {
  background-color: white;
  width: auto;
  padding: 20px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 1px 3px rgb(206, 206, 206);
}

/* Chart axes */
.axis path {
  display: none;
}
.axis line {
  fill: none;
  stroke: rgb(170, 170, 170);
  shape-rendering: crispEdges;
}
.axis text {
  fill: rgb(170, 170, 170);
  font-size: 12px;
}

/* Chart */
.chart .highlight {
  fill: rgb(92, 157, 255); 
  opacity: .1;
}
.chart .btn:hover,
.chart .btn:active,
.chart .btn:focus {
  outline: none;
}
.chart h1 {
  font-size: 16px;
  color: rgb(170, 170, 170);
  margin-top: 0px;
  letter-spacing: .1em;
}

/* Button toolbar */
.btn-toolbar .btn-link {
  padding-right: 0px;
  color: rgb(140, 140, 140);
  text-decoration: underline;
}
.btn-toolbar .btn-link:hover {
  padding-right: 0px;
  color: rgb(100, 100, 100);
  text-decoration: underline;
}
.btn-toolbar .btn-link:focus {
  outline: none;
}
